@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: rgba(252, 252, 252, 0.487);
  color: black;
}

[data-theme="dark"] {
  color: white;
}

.btn-primary {
  /* btn bg-[] text-white border-l-4 border-b-4 border-[] */
  background-color: #046351;
  color: white;
  border: 1px solid #2efed8;
  border-bottom: 5px solid #2efed8;
  border-left: 4px solid #2efed8;
  padding: 6px 15px;
  border-radius: 8px;
  display: flex;
  text-align: center;
  gap: 5px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.btn-primary:hover {
  /* btn bg-[] text-white border-l-4 border-b-4 border-[#2efed8] */
  background-color: #bafaee;
  color: black;
}
.btn-secondary {
  /* btn bg-[] text-white border-l-4 border-b-4 border-[] */
  background-color:azure;
  color:black;
  border: 1px solid #2efed8;
  border-top: 5px solid #2efed8;
  border-right: 4px solid #2efed8;
  font-weight:600;
  padding: 6px 15px;
  border-radius: 8px;
  display: flex;
  gap: 5px;
  align-items: center;
}
.btn-secondary:hover {
  /* btn bg-[] text-white border-l-4 border-b-4 border-[#2efed8] */
  background-color: #cff8f8;
  color: black;
}

.text-primary{
  color: #046351;
}